<h1>Vegan-{m}APP[etit]</h1>
<p>Alle veganen/vegetarischen Restaurants und mehr auf einen Blick.</p>
<p>Quick &amp; lecker ; )</p>
<br>
   <div id="map"></div>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Adresse</th>
    <th>Stadt</th>
    <th>Land</th>
    <th>Lat</th>
    <th>Lon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= place.address %></td>
    <td><%= place.city %></td>
    <td><%= place.country %></td>
<!--     <td><%= place.lat %></td>
    <td><%= place.lon %></td> -->
    <td><%= link_to 'Show', place %> | </td>
    <td><%= link_to 'Edit', edit_place_path(place) %> | </td>
    <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path %>

<script type="application/javascript">
// var map = L.mapbox.map('map', 'erdnusskeks.i9n12he6').setView([50.942399, 6.935242], 13);
var map = L.mapbox.map('map', 'erdnusskeks.i9n115pb')
    .setView([50.942399, 6.935242], 13);
    // .setView([50.942399, 6.935242], 13);

// L.tileLayer('http://{s}.tile.cloudmade.com/d5beea621537456d89ac681131b0284b/997/256/{z}/{x}/{y}.png', {
L.tileLayer('http://{s}.tiles.mapbox.com/v3/erdnusskeks.i9n12he6/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, <a href="http://mapbox.com/about/maps" target="_blank">Terms & Feedback</a>',
    maxZoom: 18,
}).addTo(map);


<% @places.each do |place| %>
    //console.log("<%=place.name%>")
    var marker = L.marker([<%=place.lat%>, <%=place.lon%>]).addTo(map);
    marker.bindPopup("<%= place.name %><br><%= place.address %><br><%= place.city %>");

    var greenV = L.icon({
    iconUrl: 'leaf-green.png',
    shadowUrl: 'leaf-shadow.png',

    iconSize:     [38, 95], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

<% end %>


</script>
