<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>City:</b>
  <%= @place.city %>
</p>

<p>
  <b>Country:</b>
  <%= @place.country %>
</p>

<p>
  <b>Language:</b>
  <%= @place.language %>
</p>

<p>
  <b>Lat:</b>
  <%= @place.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @place.lon %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
